<mat-card class="example-card">
    <div class="row">
      <div class="col-md-10">
            <mat-card-header>
                <mat-card-title><h3 style="font-weight:bolder">User List</h3></mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
      </div>
      <div class="col-md-2" style="margin-top: 20px;">
        <a routerLink="/addform"><i class="fas fa-user-plus" style="font-size:27px" matTooltip=" Add User"></i></a>
    </div>
    </div>

  <mat-card-content>
    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
    <div class="example-container mat-elevation-z24">
    
      <mat-table [dataSource]="dataSource" matSort>
    
       
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
        </ng-container>
    
                
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.fullname}} </mat-cell>
                </ng-container>
        
       
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>
    
    
        
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.mobileNo}} </mat-cell>
        </ng-container>
               
                <ng-container matColumnDef="crud">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> CRUD </mat-header-cell>
                  <mat-cell *matCellDef="let row" ><app-crud></app-crud></mat-cell>
                </ng-container>
        
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"></mat-paginator>
    </div> -->

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" >
      <thead>
          <tr>
              <th>User ID</th>
              <th>User Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>CRUD</th>
          </tr>
      </thead>
      <tbody *ngIf="users && users.length">
          <tr  *ngFor ="let i of users">
              <td>{{i.email}}</td>
              <td>{{i.customer_name}}</td>
              <td>{{i.contact_number}}</td>
              <td></td>
              <td><app-crud></app-crud></td>
          </tr>
      </tbody>
  </table>
    
  </mat-card-content>
  
</mat-card>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>