<div class="panel panel-primary">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="submit()"
              [formGroup]="userForm">
            <fieldset>
              <!-- User ID div -->
                <div class="form-group"
                [ngClass]="{'has-error': (userForm.get('userId').touched || userForm.get('userId').dirty) && !userForm.get('userId').valid }">
                <label class="col-md-1 control-label" 
                    for="userIdId" style="
                    padding-right: 0px;
                ">User ID</label>

                <div class="col-md-4">
                    <input class="form-control" 
                        id="userIdId" 
                        type="text" 
                        placeholder="User Id " 
                        formControlName="userId"/>
                    <span class="help-block" *ngIf="(userForm.get('userId').touched || userForm.get('userId').dirty) && userForm.get('userId').errors">
                        <span *ngIf="userForm.get('userId').errors.required">
                            Please enter User ID
                        </span>
                        <span *ngIf="userForm.get('userId').errors.minlength">
                            Mininmun of 3 numbers
                        </span>
                    </span>
                </div>
            </div>
                
                <!-- user full name and user name -->
         <div class="row form-group">
                    <!-- Full Name Div -->
                <div
                    [ngClass]="{'has-error': (userForm.get('fullName').touched || userForm.get('fullName').dirty) && !userForm.get('fullName').valid }">
                    <label class="col-md-1 control-label" 
                        for="fullNameId" style="
                        padding-right: 0px;
                    ">Full Name</label>

                    <div class="col-md-4">
                        <input class="form-control" 
                            id="fullNameId" 
                            type="text" 
                            placeholder="Full Name (required)" 
                            formControlName="fullName"/>
                        <span class="help-block" *ngIf="(userForm.get('fullName').touched || userForm.get('fullName').dirty) && userForm.get('fullName').errors">
                            <span *ngIf="userForm.get('fullName').errors.required">
                                Please enter Full Name
                            </span>
                            <span *ngIf="userForm.get('fullName').errors.minlength">
                                The Full Name must Required
                            </span>
                        </span>
                    </div>
                </div>
            <!-- User Name Div -->
                <div class="form-group"
                    [ngClass]="{'has-error': (userForm.get('userName').touched || userForm.get('userName').dirty) && !userForm.get('userName').valid }">
                    <label class="col-md-2 control-label" 
                        for="userNameId" style="
                        padding-right: 0px;
                    ">User Name</label>

                    <div class="col-md-4">
                        <input class="form-control" 
                            id="userNameId" 
                            type="text" 
                            placeholder="User Name (required)" 
                            formControlName="userName"/>
                        <span class="help-block" *ngIf="(userForm.get('userName').touched || userForm.get('userName').dirty) && userForm.get('userName').errors">
                            <span *ngIf="userForm.get('userName').errors.required">
                                Please enter User Name
                            </span>
                            <span *ngIf="userForm.get('userName').errors.minlength">
                                The Full Name must Required
                            </span>
                        </span>
                    </div>
                </div>
        </div>

                <!-- User email id and phone -->
            <div class="row form-group">
                        <!-- Email ID Div -->
                    <div
                        [ngClass]="{'has-error': (userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid }">
                        <label class="col-md-1 control-label" 
                            for="emailId" style="
                            padding-right: 0px;
                        ">Email ID</label>
    
                        <div class="col-md-4">
                            <input class="form-control" 
                                id="emailId" 
                                type="text" 
                                placeholder="Email ID (required)" 
                                formControlName="email"/>
                            <span class="help-block" *ngIf="(userForm.get('email').touched || userForm.get('email').dirty) && userForm.get('email').errors">
                                <span *ngIf="userForm.get('email').errors.required">
                                    Please enter your vaild email ID
                                </span>
                                <span *ngIf="userForm.get('email').errors.pattern">
                                    Not a Valid Email ID
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- PPhone number div -->
                    <div 
                        [ngClass]="{'has-error': (userForm.get('mobileNo').touched || userForm.get('mobileNo').dirty) && !userForm.get('mobileNo').valid }">
                        <label class="col-md-2 control-label" 
                            for="mobileNoId" style="
                            padding-right: 0px;
                        ">Mobile Number</label>
                
                        <div class="col-md-4">
                            <input class="form-control" 
                                id="mobileNoId" 
                                type="tel"
                                placeholder="Mobile Number(required)" 
                                formControlName="mobileNo"/>
                            <span class="help-block" *ngIf="(userForm.get('mobileNo').touched || userForm.get('mobileNo').dirty) && userForm.get('mobileNo').errors">
                                <span *ngIf="userForm.get('mobileNo').errors.required">
                                Mobile Number Is Required
                                </span>
                                <span *ngIf="userForm.get('mobileNo').errors.minlength || userForm.get('mobileNo').errors.pattern ||  userForm.get('mobileNo').errors.maxLength">
                                    Enter 10 digit number
                                </span>
                                <span *ngIf="userForm.get('mobileNo').errors.maxLength">
                                        Enter 10 digit number
                                    </span>
    
                            </span>
                        </div>
                    </div>

            </div>
            <!-- password row -->
        <div class="row form-group">
                <div 
                    [ngClass]="{'has-error': (userForm.get('password').touched || userForm.get('password').dirty) && !userForm.get('password').valid }">
                    <label class="col-md-1 control-label" 
                        for="passwordId" style="
                        padding-right: 0px;
                    ">Password</label>
        
                    <div class="col-md-4">
                        <input class="form-control" 
                            id="passwordId" 
                            type="password" 
                            placeholder="Password (required)" 
                            formControlName="password"/>
                        <span class="help-block" *ngIf="(userForm.get('password').touched || userForm.get('password').dirty) && userForm.get('password').errors">
                            <span *ngIf="userForm.get('password').errors.required">
                                Please enter user password
                            </span>
                            <span *ngIf="userForm.get('password').errors.minlength">
                                Enter valid password
                            </span>
                        </span>
                    </div>
                </div>
                <!-- re enter password div -->
            <div 
                [ngClass]="{'has-error': (userForm.get('confirmPassword').touched || userForm.get('confirmPassword').dirty) && !userForm.get('confirmPassword').valid }">
                <label class="col-md-2 control-label" 
                    for="confirmPasswordId" style="
                    padding-right: 0px;
                ">Re-Enter Password</label>
        
                <div class="col-md-4">
                    <input class="form-control" 
                        id="confirmPasswordId" 
                        type="text" 
                        placeholder="re-enter password (required)" 
                        formControlName="confirmPassword"/>
                    <span class="help-block" *ngIf="(userForm.get('confirmPassword').touched || userForm.get('confirmPassword').dirty) && userForm.get('confirmPassword').errors">
                        <span *ngIf="userForm.get('confirmPassword').errors.required">
                        Re-Enter your valid Password
                        </span>
                        <span *ngIf="userForm.get('confirmPassword').errors.minlength">
                            Enter Valid password
                        </span>
                    </span>
                </div>
            </div>
        </div>


    



                

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!userForm.valid">
                                Submit
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br>Dirty: {{ userForm.dirty }} 
<br>Touched: {{ userForm.touched }}
<br>Valid: {{ userForm.valid }}
<br>Value: {{ userForm.value | json }}