
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a  routerLink='/'><img src="../assets/images/logo.png"style="height:50px"></a>
      </div>
      <div id="navbar" class="navbar-collapse ">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        <ul class="nav nav-sidebar list-group">
          <li ><a   routerLink ="addform" onclick="$addClass.active">Add User</a></li>
          <li><a   routerLink="listuser">List User</a></li>
        </ul>
      </div>
      <div class="col-md-10 col-md-offset-2" style="margin-top:5%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <script>
$("li").on("click", function() {
    $(" li").removeClass("active");
    $(this).addClass("active");
  });
</script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
